/*
	共通パーツ群
*/

html {
   box-sizing:border-box;
   min-height : 100%;
   over-flow: auto;
   z-index: 1;
}

body {
   margin:0px;
   padding:0px;
   line-height:1.6;
   z-index : 1;
   letter-spacing:1px;
   color:#FFF;
   font-family: sans-serif;
   font-size:15px;
   background:#000;
}

canvas {
	z-index : 0;
	position : fixed;
	top: 0px;
}

a{
	color : #888
	
}

a:hover {
	color : #BBB
}

/*
	パーツ群
*/

#top {
	z-index: 1;
	width : 900px;
	margin: auto;
	position: relative;
	top: 20px;
	background-color : rgba(0,0,120,0.5);
}

#header {
	width : 100%;
	height : 150px;
	display: table-cell;
	vertical-align: middle;
	padding: 30px;
}

#header a{
	text-decoration : none;
	font-size : 30px;
}

#menu {
	width : 100%;
	background-color : rgba(70,0,0,0.5);
	height : 50px;
}

#menu li {
	width : 100px;
	float : center;
	height : 50px;
	list-style-type:none;
	display: table-cell;
	text-align : center;
}
#menu li a{
	width : 100px;
	height : 50px;
	display: table-cell;
	vertical-align: middle;
	text-decoration : none;
	color : #FFF;
}

#menu li:hover{
	background-color : #002;
}

#contents{
	clear : both;
	width : 900px;
}

#main{
	margin-left : 25px;
	float : left;
	width : 650px;
	padding-right : 20px;
}

#main h2{
  padding-left: 10px;
  border-left: solid 20px #000;
  border-bottom: solid 2px #000;
  width: 95%;
}

#main h3{
  background: linear-gradient(#666, #555);
  color: #FFF;
  padding: 4px;
  padding-left: 10px;
  border-left: solid 10px #222;
  border-right: solid 10px #222;
  width: 95%;
}

#main h4{
  background: linear-gradient(#400, #300);
  color: #FFF;
  padding: 3px;
  width: 95%;
}

#main table{
    border-collapse: collapse;
    color: #000;
}
#main table a{
    border-collapse: collapse;
    color: #00F;
}
#main table a:hover{
    border-collapse: collapse;
    color: #008;
}

#main th{
    border: ridge 4px #DDF;
    background-color: #DDF;
}

#main td{
    border: ridge 4px #DDF;
    background-color: #DDD;
}

#sub{
	float : left;
}



#footer{
	clear : both;
	text-align : center;
	border-top : 2px;
	padding-top : 50px;
	padding-bottom : 20px;
	border-color : #FFFFFF
}

pre {
	padding: 10px;
	margin-left: 20px;
	border:1px solid;
	color: #FFFFFF;
	overflow : scroll;
	font-size : 12px;
}

code {
	font-family: monospace;
	font-weight: normal;
	line-height: 150%;
	text-align: left;
	margin-bottom: 10px;
}

